{% extends 'base.html' %}
    {% block head %}
    <title>TT ARP Ana Sayfa</title>
    {% endblock %}


    {% block body %}
    <br>
    <div class="jumbotron">
    <h1 class="display-4">Merhaba!</h1>
    <p class="lead">Terzi Teknoloji ARP sistemine hoşgeldiniz.</p>
    <hr class="my-4">
    <p>Tarım firmanızın tüm aktivitelerini takip edip tüm maliyetlerinizi (işçilik, ilaç, gübre, elektrik, su) düşürmenize imkan sağlayan Tarımsal Kaynak Planlama sistemleri dizayn ediyoruz.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Daha Fazla Öğrenin.</a>
    </p>
    {% endblock %}
