{% extends 'base.html' %}
    {% block head %}
    <title>Stok ve Depo</title>
    {% endblock %}



    {% block body %}
<br>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
    <li class="breadcrumb-item active" aria-current="page">Stok & Depo</li>
  </ol>
</nav>



<div class="content-wrapper">
   <div class="container-fluid">

    <button type="button" class="btn btn-secondary">Stok Detay</button>
   </div>

 </div>

    {% endblock %}
