{% extends 'base.html' %}
    {% block head %}
    <title>TT ARP Ana Sayfa</title>
    {% endblock %}


    {% block body %}
<br>

    <div class="container-fluid">

          <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
              <div class="sidebar-sticky">

                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">
                      Görev Takip
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      Stok & Depo
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="shopping-cart"></span>
                      Ekipman
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="users"></span>
                      İzlenebilirlik
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="bar-chart-2"></span>
                      İşleme & Paketleme
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="layers"></span>
                      Kalite Kontrol
                    </a>
                  </li>
                    <a class="nav-link" href="#">
                      <span data-feather="file-text"></span>
                      Satın Alma
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="file-text"></span>
                      Bütçe & Planlama
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="file-text"></span>
                      En İyi Uygulama
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="file-text"></span>
                      Rapor
                    </a>
                  </li>
                </ul>
              </div>
            </nav>





    {% endblock %}
